<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.painter"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".LogInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonalSetting"
            android:label="@string/title_activity_personal_setting" />
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery" />
        <activity
            android:name=".Sign_up"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".Friends"
            android:label="@string/title_activity_friends" />

        <!--須設定ParentActivity才能返回parent-->
        <activity
            android:name=".GalleryDetail"
            android:label="@string/title_activity_gallery_detail"
            android:parentActivityName=".Gallery" />
        <activity
            android:name=".FriendTest"
            android:label="@string/title_activity_friend_test"></activity>
    </application>
</manifest>
